.logoAll {
    display:flex;
    margin-left: 13px;
    cursor: pointer;
}

.imagen {
    width: 48px;
    height: 48px;
}

.appName {
    margin-left: 10px;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 700;
}