.pinContainer {
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.addPin {
    display: flex;
    width: 16px;
    height: 16px;
    margin-left: 160px;
    margin-top: -35px;
    cursor: pointer;
    }

.title {
    font-size: 18px;
    font-weight: 700;
    margin-left: 105px;
}