
.imageContainer {
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
}

.imageStyle {
    border-radius: 10px;
    width: 215px;
    cursor:zoom-in;
}

.cardName {
    font-weight: 700;
    font-size: 12px;
    position:relative;
    margin-left: 20px;
    margin-bottom: 40px;
}

.urlLink {
    display: flex;
    align-items: center;     
    border: none;
    width: 113px;
    height: 27px;
    border-radius: 21.5px;
    background-color: rgba(241, 241, 241, 0.75);
    color: black;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    transform: translate(30px, -110px);
    cursor:pointer;
}

.urlLink * {
    margin-right: 4px;

}

.linkImg {
    margin-left: 10px;
}


