.userCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.avatarImgCard{
    position:relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.userNameCard {
    font-size: 24px;
    font-weight: 500; 
}

.userName2{
    margin-top: -15px;
}

.followers {
    font-weight: 600;
    margin-top: 10px;
}